<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    <style>
        body {
        background-image: url('../images/background1.jpeg');
        color: white;
        }
    </style>
</head>
<body>
    <h3>About Us</h3>
    <p>Welcome to VibeNest, your ultimate destination for personalized music experiences! Our mission is to help you discover the perfect tracks that resonate with your emotions.<br><br>

        At VibeNest, we believe that music has the power to enhance our moods and connect us with our innermost feelings. That's why we've created an innovative music recommendation system that analyzes your facial expressions and suggests songs based on your current emotions.</p>
    <h3>Our Story</h3>
    <p>VibeNest was founded by a team of music enthusiasts and tech innovators who wanted to merge technology with the joy of music. We noticed that people often struggle to find the right songs to match their feelings, and we set out to change that.</p>
    <h3>Our Technology</h3>
    <p>  Using advanced emotion detection algorithms and a vast music database, our platform accurately interprets your mood and curates playlists that speak to your heart. Whether you're feeling happy, sad, angry, or calm, VibeNest has the perfect soundtrack for you.</p>
    <h3>Join Us</h3>
   <p> We invite you to join our community of music lovers and experience the joy of discovering songs that resonate with your emotions. Whether you’re looking to uplift your spirits or find solace during tough times, VibeNest is here for you.</p>
   <h3> Get in Touch</h3>
    <p>If you have any questions, feedback, or suggestions, feel free to contact us. We’d love to hear from you!</p>
</body>
</html>